// Colors -------------------------
@white: #FFF;
@black: #000;

// eduK Custom Colors
@white: #FFF;
@grayLighter: #DBDBDB; //Separator
@grayLight: #AAAAAA; 
@gray: #888888; //Navigation & Secondary Text
@grayDark: #666666; //Post & Heading Text
@grayDarker: #333333; //Sidebar Text
@eduk: #ff4623; //Top Bar
@yellow: #FFCB41; //Sections
@blue: #7989dd; //Slideshow Overlay (1x)
@brown: #261B10; //Video Overlay (1x)
@red: #ed2458; //Error for validation forms
@green: #A5DC86; //Success for validatin forms
@orange: #EC5421; //Details and buttons

// Main
@stColor: @grayDark;
@ndColor: @gray;
@rdColor: @eduk;

// Text and Titles
@titleColor: @grayDarker;
@subtitleColor: @yellow;
@textColor: @grayDark;
@text2Color: @gray;

// Links
@postLinkColor: @orange; //Underline decoration on post links
@linkColor: #F05522; //Buttons & Section Title Links ("Ver mais")
@linkColorHover: lighten(@linkColor, 10%);
@linkActiveColor: darken(@linkColor, 10%); //Button text color when background is filled with @linkColor
@linkColorVisited: fade(@linkColor, 40%);
@ndLink: @blue;

// Background
@bgcolor: #FFFFFF; //Background
@bgcolor2: #f0ebeb; //Related Posts background (1x)

// Inputs
@inputColor: @gray;
@inputBorderColor: @gray;
@placeholderText: @gray;

// Socials
@facebook: #3a5795;
@twitter: #00c2dd;
@googleplus: #CC0000;
@whatsapp: #00e181;
@email: #b5de42;


// Sizes -------------------------
@space: 30px;
@padding: @space;
@margin: @space;
@vSpace: @baseLineHeight;

// Borders
@baseBorderRadius: 2px;

// Typography
@smallestFont:			11px;
@smallerFont:			13px;
@smallFont:				14px;
@regularFont:			16px;
@largeFont:				22px;
@largerFont:			26px;
@largestFont:			32px;

@baseFontFamily:        "Fira Sans", Helvetica, Arial;
@baseFontSize:          @regularFont;
@baseLineHeight:        44px;

@postFontSize:			16px;
@postLineHeight: 		27px;


// Component Variables -------------------------
@zindexModalBackdrop:     1040;
@zindexModal:             1050;

// Animations
@anim: .15s;

// Responsive breakpoints -------------------------
@small-mobile:			  479px;
@mobile:				  591px;
@phablet:			      767px;
@tablet:				  980px;
@desktop:				  1200px;  
