/*** FABIOZC ***/
body{ background-image: url('@{baseUrl}/img/bg.png'); background-color: #f7f8fa;}
//body{ background-image: url('@{baseUrl}/img/grid.png');}

// Base URL, Reset, Grid, Core variables and mixins
@import "../custom/_baseurl.less";
@import "../custom/_reset.less";
@import "../custom/_variables.less";
@import "../custom/_grid.less";
@import "../custom/_mixins.less";
@import "../custom/_font.less";
@import "../custom/_common.less";

/* Basic CSS */
html{ overflow-x: hidden; }
html,
body{ height: 100%;}
a{ color: @linkColor; text-decoration: none; text-decoration: none;
    &:hover{ color: @linkColorHover; .transition(all @anim linear);}
}
img{ text-decoration: none; }
::selection{ background: @linkActiveColor; color: @white; text-shadow: none;}

*,
*:before,
*:after{ box-sizing: border-box;}

body{ background-color: @bgcolor;
 color: @textColor; .font-family; font-size: @regularFont; line-height: @baseLineHeight; margin: 0;}
body > section{ .clearfix;}

@containerSize: @desktop - @space;
.container{ .clearfix; margin: 0 auto; width: @containerSize;
    @media (max-width: @mobile){
        &{ width: 100%;}
    }
}
.main-section{ position: relative; background-color: @white;}
.main-section:nth-child(1){ position: fixed; top: 0; right: 0; left: 0; z-index: -1; background-size: cover; height: 480px;}
.main-section:nth-child(2){ margin-top: 480px; padding-top: 80px;}

.portfolio,
.contact,
.about{ padding-bottom: @vSpace*2;} 
.section-title{ position: relative; top: 13px; z-index: 0; color: rgba(74,74,74,.1); display: block; .sansLight; font-size: 194px; letter-spacing: -6.33px; text-align: right; text-transform: uppercase;}
.section-help{ .sansBold; font-size: @largestFont; position: relative; top: 2px; z-index: 1;}
.section-subtitle{ .serif; font-size: @largerFont; margin: 0 0 @vSpace; text-align: center;}
.text-title{ font-size: @smallFont; .sansLight; letter-spacing: 4px; margin: @vSpace 0 0 0; text-transform: uppercase;}
.nav{ height: @vSpace;
    a{ border-bottom: 2px solid transparent; border-top: 2px solid transparent; border-radius: 2px; display: inline-block; font-size: @smallerFont; line-height: 40px; margin: 0 @margin/4 0 0; padding: 0 @padding/2; text-transform: uppercase;
        &:hover{ background-color: @linkColor; color: @white;}
        &.active{ border-bottom-color: @ndLink; border-radius: 0px; color: @ndLink; cursor: default;
            &:hover{ background-color: transparent;}
        }
    }
}
.nav-controls{ position: absolute; left: 0; right: 0;
    .nav-control{ position: absolute; top: -(223px + @vSpace*3.5); color: transparent; cursor: pointer; display: inline-block; font-size: @smallestFont; letter-spacing: 2px; text-align: center; text-transform: uppercase; .transition(all @anim linear);
        &:before{ background-color: transparent; color: @linkColor; display: block; font-size: @largestFont; line-height: @vSpace - 4px; padding: 4px @padding/4 0;}
        &:hover{ color: inherit;
            &:before{ background-color: @linkColor; color: @white; .transition(all @anim linear);}
        }
    }
    .nav-prev{ left: 0; text-align: right;
        &:before{ content: "←"; .border-radius-R(2px); margin-right: -5px; padding-left: @padding/2;}
        &:hover:before{ padding-left: @padding;}
    }
    .nav-next{ right: 0; text-align: left;
        &:before{ content: "→"; .border-radius-L(2px); margin-left: -12px; padding-left: @padding/4 + 3px; padding-right: @padding/2 - 3px;}
        &:hover:before{ padding-right: @padding;}
    }
    ::selection{ background-color: transparent; color: inherit;}
}
.footer{ background-color: @bgcolor; padding: @vSpace*2; text-align: center;
    .btn-portfolio{ .btn-secondary; margin-right: @margin;}
    .btn-contact{ .btn-primary; margin-left: @margin;}
}
.responsive-alert{ .hide;
    @media (max-width: @desktop){
        &{ .show; position: fixed; top: 0; z-index: 10; background-color: @blue; .box-shadow(0 3px 5px rgba(0,0,0,.2)); color: @white; font-size: @largeFont; letter-spacing: -1px; padding: @padding/2 0; text-align: center; width: 100%;}
    }
}


/* SNIPPETS ---------------------------- */
//@import "../snippet/loading.less";
//@import "../snippet/icons.less";
@import "../snippet/buttons.less";
//@import "../snippet/form.less";
//@import "../snippet/post.less";
//@import "../snippet/comments.less";
//@import "../snippet/modal.less";